Dices/bin/Dices.apk
Dices/bin/classes.dex
Dices/bin/classes/by/lex/dices/activity/MainActivity$PlaceholderFragment.class
Dices/bin/classes/by/lex/dices/activity/MainActivity.class
Dices/bin/classes/by/lex/dices/entity/Dice.class
Dices/bin/classes/by/lex/dices/manager/ResultManager.class
Dices/bin/classes/by/lex/dices/view/DiceView.class
Dices/bin/dexedLibs/android-support-v4-3706b05302fc5d9c8f773835007d4749.jar
Dices/bin/dexedLibs/android-support-v7-appcompat-03daae2325f4f6e12d9fe2619565ad88.jar
Dices/bin/dexedLibs/android-support-v7-appcompat-a780d0c10d6185767262076f530ecf27.jar
Dices/bin/res/crunch/drawable-hdpi/dice1.png
Dices/bin/res/crunch/drawable-hdpi/dice2.png
Dices/bin/res/crunch/drawable-hdpi/dice3.png
Dices/bin/res/crunch/drawable-hdpi/dice4.png
Dices/bin/res/crunch/drawable-hdpi/dice5.png
Dices/bin/res/crunch/drawable-hdpi/dice6.png
Dices/bin/res/crunch/drawable-hdpi/ic_launcher.png
Dices/bin/res/crunch/drawable-mdpi/dice1.png
Dices/bin/res/crunch/drawable-mdpi/dice2.png
Dices/bin/res/crunch/drawable-mdpi/dice3.png
Dices/bin/res/crunch/drawable-mdpi/dice4.png
Dices/bin/res/crunch/drawable-mdpi/dice5.png
Dices/bin/res/crunch/drawable-mdpi/dice6.png
Dices/bin/res/crunch/drawable-mdpi/ic_launcher.png
Dices/bin/res/crunch/drawable-xhdpi/dice1.png
Dices/bin/res/crunch/drawable-xhdpi/dice2.png
Dices/bin/res/crunch/drawable-xhdpi/dice3.png
Dices/bin/res/crunch/drawable-xhdpi/dice4.png
Dices/bin/res/crunch/drawable-xhdpi/dice5.png
Dices/bin/res/crunch/drawable-xhdpi/dice6.png
Dices/bin/res/crunch/drawable-xhdpi/ic_launcher.png
Dices/bin/res/crunch/drawable-xxhdpi/dice1.png
Dices/bin/res/crunch/drawable-xxhdpi/dice2.png
Dices/bin/res/crunch/drawable-xxhdpi/dice3.png
Dices/bin/res/crunch/drawable-xxhdpi/dice4.png
Dices/bin/res/crunch/drawable-xxhdpi/dice5.png
Dices/bin/res/crunch/drawable-xxhdpi/dice6.png
Dices/bin/res/crunch/drawable-xxhdpi/ic_launcher.png
Dices/bin/resources.ap_
Dices/src/by/lex/dices/activity/MainActivity.java
Dices/src/by/lex/dices/entity/Dice.java
Dices/src/by/lex/dices/manager/ResultManager.java
Dices/src/by/lex/dices/view/DiceView.java
